<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SitnPortalClient</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="${request.static_url('sitn_portal:static/favicon.ico')}">
    <script>
        var sitnDocsConst = {}
        sitnDocsConst.docs_fake_Url = '${request.route_url('docs_fake')}';
  </script>
<link href="${request.static_url('sitn_portal:static/sitn-docs/styles.bundle.css')}" rel="stylesheet"/></head>
<body>
  <docs-root></docs-root>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-docs/inline.bundle.js')}"></script>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-docs/polyfills.bundle.js')}"></script>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-docs/vendor.bundle.js')}"></script>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-docs/main.bundle.js')}"></script>
</body>
</html>
