<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>SitnPortalClient</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="${request.static_url('sitn_portal:static/favicon.ico')}">
<link href="${request.static_url('sitn_portal:static/sitn-portal/styles.bundle.css')}" rel="stylesheet"/></head>
<body>
  <app-root></app-root>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-portal/inline.bundle.js')}"></script>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-portal/polyfills.bundle.js')}"></script>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-portal/vendor.bundle.js')}"></script>
<script type="text/javascript" src="${request.static_url('sitn_portal:static/sitn-portal/main.bundle.js')}"></script>
</body>
</html>
